Django==5.2.17
djangorestframework==3.16.1
celery==5.5.3
redis==6.4.0
django-environ==0.12.0
psycopg[binary]==3.2.10
pandas==2.3.2
numpy==2.2.6
pyarrow==21.0.0
duckdb==1.4.0
SQLAlchemy==2.0.43
sqlglot==27.14.0
chardet==5.2.0
openpyxl==3.1.5
xlrd==2.0.2
lxml==6.0.1
defusedxml==0.7.1
requests==2.32.5
regex==2025.9.1
scikit-learn==1.7.2
xgboost==3.0.5
lightgbm==4.6.0
umap-learn==0.5.9.post2
joblib==1.5.2
torch==2.8.0
Pillow==12.3.0
scipy==1.16.2
statsmodels==0.14.5
pingouin==0.5.5
plotly==6.3.0
whitenoise==6.10.0
